/* landing */
.landingMarginTop{
  margin-top: 1em;
}

.landingTitle{
  font-size: 1.5rem;
  font-weight: bold;
}

.landingCol{
  margin-left: 1px;
}

.landingText{
  line-height: 2rem;
}

.imageMain{
  margin-top: 3em;
}

.cursorPointer{
  cursor: pointer;
}

@media (min-width: 768px) {
  .landingMarginTop{
    margin-top: 4em;
  }
  .landingTitle{
    font-size: 2rem;
    font-weight: bold;
  }  
  .landingCol{
    margin-left: auto!important;
    display: flex;
    align-items: center;
  }
  .imageMain{
    margin-top: 0em;
  }
}