/* Login */
.fakeCard {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  height: 21em;
  width: 20em;
  position: relative;
}

.fakeCardBody {
  position: absolute;
}

.loginTitle {
  margin-top: 1em;
  margin-bottom: 1em;
}

.formLogin {
  margin-top: 2em;
}

.btnCircle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

/* $grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px
); */

@media (min-width: 768px) {
  /* login */
  .loginTitle {
    margin-top: 2em;
  }
  .fakeCard  {
    width: 28em;
    height: 28em;
  }
  .formlogin {
    margin-top: 4em;
  }
  .loginSocial {
    margin-top: 3em;
  }
  .btnCircle {
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 30px;
  }
}